
.idea/Bachelor-Criterion-AI.iml
.idea/misc.xml
.idea/misc.xml


data_import/__pycache__/data_loader.cpython-37.pyc
data_import/__pycache__/data_loader.cpython-37.pyc
data_import/__pycache__/draw_contours.cpython-37.pyc
data_import/__pycache__/data_loader.cpython-37.pyc
semantic_segmentation/DeepLabV3/__pycache__/dataset_class.cpython-37.pyc
data_import/__pycache__/data_loader.cpython-37.pyc
data_import/__pycache__/data_loader.cpython-37.pyc
data_import/__pycache__/draw_contours.cpython-37.pyc
data_import/__pycache__/masks_to_bounding_box.cpython-37.pyc
data_import/__pycache__/data_loader.cpython-37.pyc
data_import/__pycache__/draw_contours.cpython-37.pyc
data_import/__pycache__/masks_to_bounding_box.cpython-37.pyc
data_import/__pycache__/data_loader.cpython-37.pyc
data_import/__pycache__/data_loader.cpython-37.pyc
data_import/__pycache__/data_loader.cpython-37.pyc
data_import/__pycache__/draw_contours.cpython-37.pyc
data_import/__pycache__/masks_to_bounding_box.cpython-37.pyc
semantic_segmentation/DeepLabV3/__pycache__/Training_windows.cpython-37.pyc
