
.idea/Bachelor-Criterion-AI.iml
.idea/misc.xml
.idea/misc.xml


data_import/__pycache__/data_loader.cpython-37.pyc
data_import/__pycache__/data_loader.cpython-37.pyc
data_import/__pycache__/draw_contours.cpython-37.pyc
data_import/__pycache__/data_loader.cpython-37.pyc
semantic_segmentation/DeepLabV3/__pycache__/dataset_class.cpython-37.pyc
data_import/__pycache__/data_loader.cpython-37.pyc
data_import/__pycache__/data_loader.cpython-37.pyc
data_import/__pycache__/draw_contours.cpython-37.pyc
data_import/__pycache__/masks_to_bounding_box.cpython-37.pyc
data_import/__pycache__/data_loader.cpython-37.pyc
data_import/__pycache__/draw_contours.cpython-37.pyc
data_import/__pycache__/masks_to_bounding_box.cpython-37.pyc
data_import/__pycache__/data_loader.cpython-37.pyc
data_import/__pycache__/data_loader.cpython-37.pyc
data_import/__pycache__/data_loader.cpython-37.pyc
data_import/__pycache__/draw_contours.cpython-37.pyc
data_import/__pycache__/masks_to_bounding_box.cpython-37.pyc
semantic_segmentation/DeepLabV3/__pycache__/Training_windows.cpython-37.pyc
data_import/__pycache__/draw_contours.cpython-37.pyc
.idea/Bachelor-Criterion-AI.iml
data_import/__pycache__/draw_contours.cpython-37.pyc
data_import/__pycache__/masks_to_bounding_box.cpython-37.pyc
semantic_segmentation/DeepLabV3/__pycache__/dataset_class.cpython-37.pyc
semantic_segmentation/DeepLabV3/__pycache__/Training_windows.cpython-37.pyc
semantic_segmentation/DeepLabV3/dataset_class.py
semantic_segmentation/DeepLabV3/metrics/__pycache__/__init__.cpython-37.pyc
semantic_segmentation/DeepLabV3/metrics/__pycache__/stream_metrics.cpython-37.pyc
semantic_segmentation/DeepLabV3/utils/__pycache__/__init__.cpython-37.pyc
semantic_segmentation/DeepLabV3/utils/__pycache__/ext_transforms.cpython-37.pyc
semantic_segmentation/DeepLabV3/utils/__pycache__/loss.cpython-37.pyc
semantic_segmentation/DeepLabV3/utils/__pycache__/scheduler.cpython-37.pyc
semantic_segmentation/DeepLabV3/utils/__pycache__/utils.cpython-37.pyc
semantic_segmentation/DeepLabV3/utils/__pycache__/visualizer.cpython-37.pyc
.idea/Bachelor-Criterion-AI.iml
*.iml
*.pyc
*.xml
data_import/__pycache__/data_loader.cpython-37.pyc
semantic_segmentation/DeepLabV3/__pycache__/dataset_class.cpython-37.pyc
semantic_segmentation/DeepLabV3/__pycache__/Training_windows.cpython-37.pyc
semantic_segmentation/DeepLabV3/utils/__pycache__/ext_transforms.cpython-37.pyc

__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
semantic_segmentation/DeepLabV3/metrics/__pycache__/stream_metrics.cpython-37.pyc
semantic_segmentation/DeepLabV3/metrics/__pycache__/__init__.cpython-37.pyc
semantic_segmentation/DeepLabV3/experiment_generator.py
semantic_segmentation/DeepLabV3/__pycache__/Training_windows.cpython-37.pyc
semantic_segmentation/DeepLabV3/__pycache__/dataset_class.cpython-37.pyc
data_import/__pycache__/masks_to_bounding_box.cpython-37.pyc
data_import/__pycache__/draw_contours.cpython-37.pyc
data_import/__pycache__/data_loader.cpython-37.pyc
.idea/Bachelor-Criterion-AI.iml
*.pyc
data_import/__pycache__/data_loader.cpython-38.pyc
data_import/__pycache__/data_loader.cpython-38.pyc
object_detect/__pycache__/get_bboxes.cpython-38.pyc
data_import/__pycache__/data_loader.cpython-38.pyc
data_import/__pycache__/data_loader.cpython-38.pyc
*.pyc
*.pyc
